<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kirtan.mylibraryproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyLibraryProject">
        <activity
            android:name=".ui.userList.UserListPagingActivity"
            android:exported="true"
            android:theme="@style/Theme.MyLibraryProject.NoActionBar" />
        <activity
            android:name=".ui.userInfo.UserInfoActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyLibraryProject.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.userList.UserListActivity"
            android:exported="true"
            android:theme="@style/Theme.MyLibraryProject.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>