<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kirtan.baseLibrarySample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyLibraryProject">
        <activity
            android:name="com.kirtan.baseLibrarySample.ui.menu.MenuActivity"
            android:exported="true"
            android:theme="@style/Theme.MyLibraryProject.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kirtan.baseLibrarySample.ui.userList.UserListPagingActivity"
            android:exported="true"
            android:theme="@style/Theme.MyLibraryProject.NoActionBar" />
        <activity
            android:name="com.kirtan.baseLibrarySample.ui.userInfo.UserInfoActivity"
            android:exported="true"
            android:theme="@style/Theme.MyLibraryProject.NoActionBar" />
        <activity
            android:name="com.kirtan.baseLibrarySample.ui.userList.UserListActivity"
            android:exported="true"
            android:theme="@style/Theme.MyLibraryProject.NoActionBar" />
    </application>

</manifest>